{% extends 'navbarBase.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ employee.getFirstName() }} {{ employee.getLastName() }} ({{ employee.getUsername() }})</h1>
        <a class="btn btn-primary" href="{{ path("worktime_specialday_create", {id: employee.getId()}) }}">
            Sondertag anlegen
        </a>
        <ul class="nav nav-tabs mt-5">
            <li class="nav-item">
                <a class="nav-link {{ tab == null ? 'active' : ''}}" href="{{ path("employee_details", {id: employee.getId()}) }}">Allgemein</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ tab == "holiday" ? 'active' : ''}}" href="{{ path("employee_details", {id: employee.getId()}) }}?tab=holiday">Urlaub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ tab == "illness" ? 'active' : ''}}" href="{{ path("employee_details", {id: employee.getId()}) }}?tab=illness">Krankheit</a>
            </li>
        </ul>
        {% if tab == "holiday" %}
            <div class="mt-2">
                <h1>Urlaubstage</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Notizen</th>
                        <th scope="col">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for holiday in holidays %}
                        <tr>
                            <th scope="row">{{ holiday.getId() }}</th>
                            <td>{{ holiday.getDateString() }}</td>
                            <td>{{ holiday.getNotes() }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" href="{{ path("worktime_specialday_delete", {id: holiday.getId()}) }}">Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elseif tab == "illness" %}
            <div class="mt-2">
                <h1>Krankheitstage</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Datum</th>
                        <th scope="col">Notizen</th>
                        <th scope="col">Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for illnessDay in illnessDays %}
                        <tr>
                            <th scope="row">{{ illnessDay.getId() }}</th>
                            <td>{{ illnessDay.getDateString() }}</td>
                            <td>{{ illnessDay.getNotes() }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" href="{{ path("worktime_specialday_delete", {id: illnessDay.getId()}) }}">Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="row mt-2">
                <div class="col-md-6">
                    <h3>Allgemeine Informationen</h3>
                    <ul>
                        <li><b>Urlaubstage:</b> {{ employee.getHolidays() }}</li>
                        {% if employee.getHolidaysLeft() %}
                            <li><b>Übrige Urlaubstage:</b> {{ employee.getHolidaysLeft() }}</li>
                        {% endif %}
                        {% if employee.getRestrictedStartTimeString() %}
                            <li><b>Eingeschränke Startzeit:</b> {{ employee.getRestrictedStartTimeString() }} Uhr</li>
                        {% endif %}
                        {% if employee.getRestrictedEndTimeString() %}
                            <li><b>Eingeschränke Endzeit:</b> {{ employee.getRestrictedEndTimeString() }} Uhr</li>
                        {% endif %}
                        {% if employee.isTargetWorkingPresent() %}
                            <li><b>Sollstunden (Woche):</b> {{ employee.getTargetWorkingHours() }}</li>
                            <li><b>Arbeitsbeginn:</b> {{ employee.getTargetWorkingTimeBeginFormatted() }} Uhr</li>
                            <li><b>Arbeitsende:</b> {{ employee.getTargetWorkingTimeEndFormatted() }} Uhr</li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col col-md-6">
                    <h3>Arbeitszeiten (aktueller Monat)</h3>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Datum</th>
                            <th scope="col">Start</th>
                            <th scope="col">Ende</th>
                            <th scope="col">Gesamtzeit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for period in periods %}
                            <tr>
                                <th scope="row">{{ period.getId() }}</th>
                                <td>{{ period.getDate() }}</td>
                                <td>{{ period.getStartTimeString() }}</td>
                                <td>{{ period.getEndTimeString() }}</td>
                                <td>{{ period.getTimeDiff() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}