{% extends 'navbarBase.html.twig' %}


{% block body %}
    <div class="container mt-5">
        <h1>Mitarbeiter Übersicht</h1>
        <a class="btn btn-primary" href="{{ path("employee_create") }}">Neu anlegen</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'table.username'|trans }}</th>
                <th scope="col">{{ 'table.firstName'|trans }}</th>
                <th scope="col">{{ 'table.lastName'|trans }}</th>
                <th scope="col">{{ 'table.targetTimeWeek'|trans }}</th>
                <th scope="col">{{ 'table.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
                <tr>
                    <th scope="row">{{ employee.getId() }}</th>
                    <td>{{ employee.getUsername() }}</td>
                    <td>{{ employee.getFirstName() }}</td>
                    <td>{{ employee.getLastName() }}</td>
                    <td>
                        {% if employee.isTimeEmployed() %}
                            {{ employee.getTargetWorkingHours() }}
                        {% else %}
                            <p>{{ 'messages.notTimeEmployed'|trans }}</p>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="{{ path("employee_details", {id: employee.getId()}) }}" class="btn btn-sm btn-primary">{{ 'actions.details'|trans }}</a>
                            <a href="{{ path("employee_update", {id: employee.getId()}) }}" class="btn btn-sm btn-primary">{{ 'actions.edit'|trans }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}