{% extends 'base.html.twig' %}

{% block body %}
    {% for employee in employees %}
        <h1>{{ periods[employee][0]["fullName"] }}</h1>
        <ul>
            <li>Arbeitsstunden: {{ stats[employee]["hoursWorked"] }}</li>
            {% if stats[employee]["overtime"] %}
                <li>Überstunden (aktueller Monat): {{ stats[employee]["overtime"] }}</li>
                <li>Überstunden (Übertrag): {{ stats[employee]["overtimeTransfer"] }}</li>
                <li>Überstunden (Insgesamt): {{ stats[employee]["overtimeTotal"] }}</li>
            {% endif %}
            <li>Krankheitstage: {{ stats[employee]["illnessDays"] }}</li>
            <li>Urlaubstage: {{ stats[employee]["holidays"] }}</li>
        </ul>
        <table border="1">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Startzeit</th>
                    <th>Endzeit</th>
                    <th>Notizen</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in periods[employee] %}
                    <tr>
                        <td>{{ entry["date"] }}</td>
                        <td>{{ entry["startTime"] }}</td>
                        <td>{{ entry["endTime"] }}</td>
                        <td>{{ entry["notes"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}